<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="GIM Pro" author="SuperMap" url="www.supermap.com.cn" description="Demo project for SuperMap iDesktopX">
  <runtime packageName="GIM Pro.jar" pluginClassName="com.aircas.DevelopPlugin" enabled="True" level="5" />
  <startMenus></startMenus>
  <ribbons>
    <ribbon id="oneModelMainline" index="1" label="OneModel" visible="true" platform="All" language="All">
      <group id="omProject" index="1" label="工程管理" visible="true" platform="All" rowCount="1">
        <button id="om-project-create" index="1" label="新建工程" image="../resources/DataView/Icon/Workspace/OpenFileWorkspace.png" visible="true" style="BIG" onAction="CtrlActionOmProjectCreate" platform="All" language="All" />
        <button id="om-project-open" index="2" label="打开工程" image="../resources/DataView/Icon/Workspace/OpenFileWorkspace.png" visible="true" style="BIG" onAction="CtrlActionOmProjectOpen" platform="All" language="All" />
        <button id="om-project-info" index="3" label="工程信息" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmProjectInfo" platform="All" language="All" />
        <button id="om-project-close" index="4" label="关闭工程" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmProjectClose" platform="All" language="All" />
      </group>
      <group id="omMapModeling" index="2" label="二维底座" visible="true" platform="All" rowCount="1">
        <button id="om-map-open" index="1" label="打开地图" image="../resources/MapView/Icon/Home/Window/Map_32.png" visible="true" style="BIG" onAction="CtrlActionOmImportCurrentMap" platform="All" language="All" />
        <button id="om-area" index="2" label="区域范围" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmAddArea" platform="All" language="All">
          <ribbonPopupMenuItem index="0" visible="true" image="../resources/Customize/Icon/Custom.svg" label="输入坐标" onAction="CtrlActionOmAddArea" />
          <ribbonPopupMenuItem index="1" visible="true" image="../resources/Customize/Icon/Custom.svg" label="手动绘制" onAction="CtrlActionOmDrawArea" />
        </button>
        <button id="om-equipment-layer-add" index="3" label="设备图层" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmAddEquipment" platform="All" language="All" />
        <button id="om-equipment-point" index="4" label="设备点" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmAddEquipmentPoint" platform="All" language="All">
          <ribbonPopupMenuItem index="0" visible="true" image="../resources/Customize/Icon/Custom.svg" label="输入坐标" onAction="CtrlActionOmAddEquipmentPoint" />
          <ribbonPopupMenuItem index="1" visible="true" image="../resources/Customize/Icon/Custom.svg" label="手动绘制" onAction="CtrlActionOmDrawEquipmentPoint" />
        </button>
        <button id="om-connection-add" index="5" label="新建连接" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmAddConnection" platform="All" language="All" />
        <button id="om-equipment-property" index="6" label="设备属性" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmEquipmentPropertyEdit" platform="All" language="All" />
      </group>
      <group id="omMainline" index="3" label="主线执行" visible="true" platform="All" rowCount="1">
        <button id="om-run" index="1" label="执行主线" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmTopologyCheck" platform="All" language="All">
          <ribbonPopupMenuItem index="0" visible="true" image="../resources/Customize/Icon/Custom.svg" label="拓扑校正" onAction="CtrlActionOmTopologyCheck" />
          <ribbonPopupMenuItem index="1" visible="true" image="../resources/Customize/Icon/Custom.svg" label="图元绑定" onAction="CtrlActionOmGraphicBind" />
          <ribbonPopupMenuItem index="2" visible="true" image="../resources/Customize/Icon/Custom.svg" label="设备-模型绑定" onAction="CtrlActionOmModelBind" />
          <ribbonPopupMenuItem index="3" visible="true" image="../resources/Customize/Icon/Custom.svg" label="派生结构" onAction="CtrlActionOmDerivedStructure" />
          <ribbonPopupMenuItem index="4" visible="true" image="../resources/Customize/Icon/Custom.svg" label="生成三维站体" onAction="CtrlActionOmGenerateScene" />
          <ribbonPopupMenuItem index="5" visible="true" image="../resources/Customize/Icon/Custom.svg" label="空间检查" onAction="CtrlActionOmSpatialCheck" />
        </button>
        <button id="om-help" index="2" label="帮助说明" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionOmHelp" platform="All" language="All" />
      </group>
    </ribbon>
    <ribbon id="gimProMainline" index="2" label="GIM Pro" visible="true" platform="All" language="All">
      <group id="gpSceneAccess" index="1" label="三维接入" visible="true" platform="All" rowCount="1">
        <button id="gp-entry" index="1" label="GIM Pro" image="../resources/Customize/Icon/Custom.svg" visible="true" style="BIG" onAction="CtrlActionGpOverview" platform="All" language="All">
          <ribbonPopupMenuItem index="0" visible="true" image="../resources/Customize/Icon/Custom.svg" label="GIM Pro 说明" onAction="CtrlActionGpOverview" />
          <ribbonPopupMenuItem index="1" visible="true" image="../resources/Customize/Icon/Custom.svg" label="多源数据整合" onAction="CtrlActionGpDiagnoseSources" />
          <ribbonPopupMenuItem index="2" visible="true" image="../resources/Customize/Icon/Custom.svg" label="生成三维场景" onAction="CtrlActionGpGenerateScene" />
          <ribbonPopupMenuItem index="3" visible="true" image="../resources/Customize/Icon/Custom.svg" label="三维碰撞检测" onAction="CtrlActionGpRunCollisionCheck" />
          <ribbonPopupMenuItem index="4" visible="true" image="../resources/Customize/Icon/Custom.svg" label="轻量化能力接入" onAction="CtrlActionGpPrepareLightweight" />
          <ribbonPopupMenuItem index="5" visible="true" image="../resources/Customize/Icon/Custom.svg" label="建立场景会话" onAction="CtrlActionGpBuildSceneSession" />
          <ribbonPopupMenuItem index="6" visible="true" image="../resources/Customize/Icon/Custom.svg" label="校验三维输入" onAction="CtrlActionGpValidateSceneInput" />
          <ribbonPopupMenuItem index="7" visible="true" image="../resources/Customize/Icon/Custom.svg" label="生成场景清单" onAction="CtrlActionGpBuildSceneManifest" />
        </button>
      </group>
    </ribbon>
  </ribbons>
  <dockbars>
    <dockbar title="模型树" id="omWorkspaceTreeDock" component="com.aircas.onemodel.dock.OneModelWorkspaceTreeDockPanel" visible="false" dockDirection="leftTop" />
    <dockbar title="模型属性" id="omEquipmentPropertyDock" component="com.aircas.onemodel.dock.OneModelEquipmentPropertyDockPanel" visible="false" dockDirection="rightTop" />
  </dockbars>
  <statusbars />
  <contextMenus>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryContextMenu" index="13" label="地图窗口_选中几何对象">
      <group id="omModelEditGroup" index="100" label="OneModel" visible="true">
        <button image="../resources/Customize/Icon/Custom.svg" index="0" label="模型编辑" onAction="CtrlActionOmEquipmentPropertyEdit" screenTip="" screenTipImage="" visible="true" />
      </group>
    </contextMenu>
  </contextMenus>
  <ProcessManager></ProcessManager>
</plugin>